#logorow{
    padding: 0%;
    
}
#formcol{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    margin: 0%
    

}
#newrow{
    border-width: 1px;

}
#sign-in{
    background-color: #ffbf4f;
    border-color:black;
}
#rest-password{
    justify-content: right;
    align-items: right;
}
#createaccount{
    background-color: #FFF7FF;
    border-color:black;

}
